@using EmployeesManager.Model
@model IEnumerable<Education>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification"></partial>

<div class="container p-3">
    <div class="row pt-4">
        @if (User.IsInRole("Admin"))
                {
        <div class="col-12 text-end">
            <a asp-controller="Education" asp-action="Create" class="btn btn-primary"><i class="bi bi-eyeglasses"></i> &nbsp; Nova edukacija</a>
        </div>
                }
        <div class="col-6">
            <h2 class="text-primary">Popis edukacija</h2>
        </div>
        <br />
        <form asp-controller="Education" asp-action="Index" class="d-flex">
                            <input class="form-control me-sm-2" type="text" name="SearchString" placeholder="Prezraga po nazivu">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pretraži</button>
</form>
    </div>
    <br/><br/>
    <table id="PrintPDF" class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Naziv edukacije")
            </th>
            <th>
                @Html.Label("Vrsta edukacije")
            </th>
            <th>
                @Html.Label("Tip edukacije")
            </th>
            <th>
                @Html.Label("Vrsta sudjelovanja")
            </th>
            <th>
                @Html.Label("Datum početka")
            </th>
            <th>
                @Html.Label("Datum završetka")
            </th>
            <th>
                @Html.Label("Napomena")
            </th>
            <th>
                @Html.Label("Obavezno")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParticipationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mandatory)
            </td>
            @if (User.IsInRole("Admin"))
                {
            <td>
                <div class="btn-group" role="group">
                    <a asp-controller="Education" asp-action="Edit" asp-route-id="@item.EducationId" class="btn btn-primary mx-2"><i class="bi bi-pen-fill"></i> &nbsp Uredi</a>
                     <a asp-controller="Education" asp-action="Delete" asp-route-id="@item.EducationId" class="btn btn-danger mx-2"><i class="bi bi-trash3-fill"></i> &nbsp Obriši</a> 
                </div>
            </td>
                }
                @if (User.IsInRole("User"))
                {
                <td>
                <div class="btn-group" role="group">
                    <a asp-controller="Education" asp-action="Details" asp-route-id="@item.EducationId" class="btn btn-primary mx-2"><i class="bi bi-card-checklist"></i> &nbsp Detalji</a>
                    <a asp-controller="Education" asp-action="DetailsEmployee" asp-route-id="@item.EducationId" class="btn btn-primary mx-2"><i class="bi bi-list-check"></i> &nbsp Popis</a>
                    <form method="post" asp-controller="Education" asp-action="ExportSingle" asp-route-id="@item.EducationId">
                        <button id="mySubmit" type="submit" class="bi bi-file-earmark-arrow-down-fill btn btn-primary mx-2">&nbsp Izvoz</button>
                        </form>
                </div>
            </td>
                }
        </tr>
}
    </tbody>
</table>
</div>

    <form method="post" asp-controller="Education" asp-action="Export">
        <input type="submit" value="Izvoz u Excel" />
    </form>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
       <script type="text/javascript">  
         $(function () {  
           $("#btnSubmit").click(function () {  
             $("input[name='ExportData']").val($("#PrintPDF").html());  
           });  
         });  
       </script>  *@