@using EmployeesManager.Model
@model Employee

@{
    ViewData["Title"] = "Edit";
    var name = String.Join(",",ViewBag.HealthcareName);

}

@*<form method="post" asp-action="Edit">*@
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Ažuriranje podataka o zaposleniku</h2>
            <hr />
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#home">Osnovni podaci</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#address">Adresa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#contact">Kontakt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#healthcare">Praćenje zdravlja</a>
            </li>
        </ul>
        <hr />
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active show" id="home">
        <input asp-for="EmployeeId" hidden />
        <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
                <label asp-for="OIB" class="control-label"></label>
                <input asp-for="OIB" class="form-control" />
                <span asp-validation-for="OIB" class="text-danger"></span>
        </div>
        <div class="form-group">
                <label asp-for="MBO" class="control-label"></label>
                <input asp-for="MBO" class="form-control" />
                <span asp-validation-for="MBO" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
        </div>
        <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            </div>
            <div class="tab-pane fade" id="address">
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class ="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="StreetNumber" class="control-label"></label>
                <input asp-for="StreetNumber" class ="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class ="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class ="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class ="form-control"/>
            </div>
            </div>
            <div class="tab-pane fade" id="contact">
                   <div class="form-group">
                <label asp-for="BusinessEmail" class="control-label"></label>
                <input asp-for="BusinessEmail" class ="form-control"/>
            </div>
             <div class="form-group">
                <label asp-for="BusinessMobilePhone" class="control-label"></label>
                <input asp-for="BusinessMobilePhone" class ="form-control"/>
            </div>
             <div class="form-group">
                <label asp-for="BusinessTelephone" class="control-label"></label>
                <input asp-for="BusinessTelephone" class ="form-control"/>
            </div>
             <div class="form-group">
                <label asp-for="PrivateEmail" class="control-label"></label>
                <input asp-for="PrivateEmail" class ="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="PrivateMobilePhone" class="control-label"></label>
                <input asp-for="PrivateMobilePhone" class ="form-control"/>
            </div>
            </div>
            <div class="tab-pane fade" id="healthcare">
            
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<fieldset>
    <legend>Dodavanje podataka o praćenju zdravlja</legend>
    <table id="addItemTable" class="table table-bordered">
        <thead>
            <tr>
                <td>Naziv</td>
                <td>Vrijedi do</td>
                <td>Napomena</td>
                <td></td>
            </tr>
        </thead>
            <tbody id="dataTable">
                @foreach(var s in Model.Healthcares)
                {
                 <tr id="tablerow0">
                <td>
                        <select name="HealthcareName"  class = "form-control editor-field" id="HealthcareName">
                             <option value="">[Unesite naziv]</option>
                            @foreach(var n in ViewBag.HealthcareName)
                            {
                                if(s.HealthcareName==n)
                                {
                                     <option value="@n" selected>@n</option>
                                }
                                else{
                                     <option value="@n">@n</option>
                                }
                                
                            }
                           
                        </select>
                </td>
                <td>
                        <input type="date" name="ValidUntil" id="ValidUntil" value="@s.ValidUntil.ToString("yyyy-MM-dd")"  class="form-control editor-field"/>
                </td>
                <td>
                        <input class="text-box single-line form-control editor-field" id="Remark" value="@s.Remark" name="Remark" type="text"  />
                </td>
                <td>
                    <button type="button" class="btn btn-danger mx-2" value="button" onclick="removeTr(0);"><i class="bi bi-trash3-fill"></i> &nbsp Obriši zapis</button>
                </td>
            </tr>
            }
        </tbody>

    </table>
    <p>
        <button id="add" type="button" class="btn btn-primary" >Dodaj zapis</button>
    </p>
    <hr />
</fieldset>
    
            </div>
            </div>
            <br />
         <div class="row pt-4">
             <div class="col-6">
                 <button type="submit" class="btn btn-primary" onclick="FormSubmit()">Spremi promjene</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary">Natrag na popis zaposlenika</a>
            </div>
         </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        var healthename='@name';
        healthename=healthename.split(',')
         var html='<option value="">[Unesite naziv]</option>';
         for (i = 0; i < healthename.length; i++) {
             console.log(healthename[i]);
             html+='<option value="'+healthename[i]+'">'+healthename[i]+'</option>'
         }
        var counter = 1;
       
        $(function () {

            $('#add').click(function () {
                $('<tr id="tablerow' + counter + '"><td>' +
                    '<select name="HealthcareName[' + counter + ']" value="" class = "form-control">  '+html+' </select>' +
                    '</td>' +
                    '<td>' +
                    '<input type="date" name="ValidUntil" id="ValidUntil" value=""  class="form-control editor-field"/>' + 
                    '</td>' +
                    '<td>' +
                    '<input type="text" class="text-box single-line form-control" value="" name="Remark[' + counter + ']" value="" required="required" />' +
                    '</td>' +
                    '<td>' +
                    '<button type="button" class="btn btn-danger mx-2" value="button" onclick="removeTr(' + counter + ');"><i class="bi bi-trash3-fill"></i> &nbsp Obriši zapis</button>' +
                    '</td>' +
                    '</tr>').appendTo('#addItemTable');
                counter++;
                return false;
            });
        });
        function removeTr(index) {
             $('#tablerow' + index).remove();
            //if (counter > 1) {
            //    $('#tablerow' + index).remove();
            //    counter--;
            //}
            return false;
        }

          function FormSubmit() {
            //Set the URL.
            //var url = $("#myForm").attr("action");
            //Add the Field values to FormData object.
            if ($("#txtTestTitle").val() == "") {
                alert("Test Title must be filled out");
                return false;
            }
            var category = $('#txtCategory option:selected').val();
            if (category === "API") {
                    if ($("#txtUrl").val() == "") {
                    alert("API Url must be filled out");
                    return false;
                }
            }




            var formData = new FormData();            
            formData.append("EmployeeId", $("#EmployeeId").val());
            formData.append("FirstName", $("#FirstName").val());
            formData.append("LastName", $("#LastName").val());
            formData.append("OIB", $("#OIB").val());
            formData.append("MBO", $("#MBO").val());
            formData.append("BirthDate", $("#BirthDate").val());
            //formData.append("Active", $("#Active").val());
            formData.append("Active", $("#Active").is(':checked'));
            formData.append("Street", $("#Street").val());
            formData.append("StreetNumber", $("#StreetNumber").val());
            formData.append("PostalCode", $("#PostalCode").val());
            formData.append("City", $("#City").val());
            formData.append("Country", $("#Country").val());
            formData.append("PrivateEmail", $("#PrivateEmail").val());
            formData.append("BusinessEmail", $("#BusinessEmail").val());
            formData.append("BusinessTelephone", $("#BusinessTelephone").val());
            formData.append("BusinessMobilePhone", $("#BusinessMobilePhone").val());
            formData.append("PrivateMobilePhone", $("#PrivateMobilePhone").val());
            //for (let [key, value] of formData) {
            //  console.log(`${key}: ${value}`)
            //}
            var HealthcareName;
            var ValidUntil;
            var Remark;
            var tableRows = document.getElementById("dataTable").rows;
            for (i = 0; i < tableRows.length; i++) {
                var myrow = tableRows[i];
                //console.log(myrow);
                HealthcareName = "";
                ValidUntil = "";
                Remark = "";
                let Row = [];
                for (j = 0; j < myrow.cells.length; j++) {
                    var mytd = myrow.cells[j];
                     //console.log(mytd);
                     //console.log(mytd.children[0].value);
                    if (mytd.children[0].value === "") {
                             alert("All input must be filled out");
                              return false;
                        }
                    if (j == 0) {                        
                        HealthcareName = mytd.children[0].value;
                    }
                    else if (j == 1) {
                        ValidUntil = mytd.children[0].value;
                    }
                    else if (j == 2) {
                        Remark = mytd.children[0].value;
                    }
                    //console.log(mytd.children[0].value);
                }
                Row.push([HealthcareName,ValidUntil,Remark]);
                formData.append("Step", Row);
                console.log(Row);
            }
             console.log(formData);
            $.ajax({
                type: 'POST',
                 url: "/Employee/EditEmployee",
                data: formData,
                processData: false,
                contentType: false
            }).done(function (response) {
                console.log(response);
                if (response == true) {
                   
                    location.href = "/Employee/Index";
                    //$("#lblMessage").html(response.Message);
                }
            });
        }
    </script>
}