@using EmployeesManager.Model
@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />

<div class="container p-3">
    @if (User.IsInRole("Admin"))
        {
            <div class="col-12 text-end">
                <a asp-controller="Employee" asp-action="Create" class="btn btn-primary"><i class="bi bi-person-plus-fill"></i> &nbsp; Novi zaposlenik</a>
        </div>
        }
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Popis zaposlenika</h2>
        </div>
        <br />
        <form asp-controller="Employee" asp-action="Index" class="d-flex">
                            <input class="form-control me-sm-2" type="text" name="SearchString" placeholder="Pretraga po imenu ili prezimenu">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pretraži</button>
</form>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Ime")
            </th>
            <th>
                @Html.Label("Prezime")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OIB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MBO)
            </th>
            <th>
                @Html.Label("Aktivan/na")
            </th>
            <th>
                @Html.Label("Datum rođenja")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OIB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MBO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <div class="btn-group" role="group">
                    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-primary mx-2"><i class="bi bi-pen-fill"></i> &nbsp Uredi</a>
                     <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-danger mx-2"><i class="bi bi-trash3-fill"></i> &nbsp Obriši</a> 
                </div>
            </td>
            }
             @if (User.IsInRole("User"))
                {
                     <td>
                        <div class="btn-group" role="group">
                    <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-primary mx-2"><i class="bi bi-card-checklist"></i> &nbsp Detalji</a>
                    <a asp-controller="Employee" asp-action="DetailsEmployee" asp-route-id="@item.EmployeeId" class="btn btn-primary mx-2" data-toggle="modal" data-target="#employeeDetails"><i class="bi bi-list-check"></i> &nbsp Popis</a>
                    <form method="post" asp-controller="Employee" asp-action="ExportSingle" asp-route-id="@item.EmployeeId">
                        <button type="submit" class="bi bi-file-earmark-arrow-down-fill btn btn-primary mx-2">&nbsp Izvoz</button>
                    </form>
                    </div>
                    </td>
                }
        </tr>
}
    </tbody>
</table>

<form method="post" asp-controller="Employee" asp-action="Export">
        <input type="submit" value="Izvoz u Excel" />
    </form>